<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <!-- <img src="../../assets/img/logo.webp" width="30" height="28"> -->
      <span class="title">SushiFAST</span>
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      
      <a class="navbar-item" href="commande">
        Commande
      </a>

      <a class="navbar-item" href="historique-commandes">
        Historique des commandes
      </a>

      <a class="navbar-item" href="rgpd">
        RGPD
      </a>
    </div>
  </div>
</nav>