<app-header></app-header>

<div class="contenu">
    <h2 class="title">EDITEUR</h2>
    <p class="subtitle">Le site www.sushi-fast.fr est édité par Sushi Fast Management</p>

    <h2 class="title">HÉBERGEUR</h2>
    <p class="subtitle">SushiFast est son propre hébergeur.</p>

    <h2 class="title">ACCÈS ET COLLECT DES DONNÉES</h2>
    <p class="subtitle">L’accès du site web est réservé à l'opérateur de commande (serveur). L’opérateur s’engage à n’utiliser les
        services
        ainsi que l’ensemble des informations auxquelles il pourra avoir accès que pour des raisons professionnelles et
        dans
        un but conforme à l’entreprise. L’opérateur ne commet aucun acte pouvant mettre en cause la sécurité
        informatique du
        site. L'affectation d'un numéro a une commande est obligatoire, il est utilisé afin que l’opérateur serve la
        commande
        au bon client. Aucun cookie ne sera enregistré. Lors d’une commande, l’opérateur aura la validation du client
        pour
        vérifier si la commande affécté est la bonne.
        Les données client sauvegardées pendant 12 mois maximum (année fiscal) pour les comptes de Sushi Fast.</p>

    <h2 class="title">DROIT DU CLIENT</h2>
    <p class="subtitle">
        D'après la réglementation du RGPD le client peut : <br>
        <br>
        Le droit d'accès et de rectification, de mise à jour, de compléter ses données droit de verrouillage ou
        d’effacement
        ses données à caractère personnel, lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la
        collecte, l'utilisation, la communication ou la conservation est interdite.
        Le droit de retirer leur approbation à tout moment de leurs commandes.
        Le droit à la limitation du traitement de leurs données.
        Le droit d’opposition au traitement des données des Utilisateurs.
        Le droit à la portabilité des données qu'il aura fourni, lorsque ces données font l’objet de traitements
        automatisés
        fondés sur leur consentement ou sur un contrat.
    </p>

    <h2 class="title">LIENS</h2>
    <p class="subtitle">Les opérateurs ne peuvent pas mettre en place un lien en direction du site sans l'autorisation préalable de
        l’éditeur.</p>

    <h2 class="title">CONTACT</h2>
    <p class="subtitle">Directeur de publication: Elise Axel
        mail: axelelise974@gmail.com
        tél: 06.05.04.03.02
        Le délégué à la protection des données: Dejardin Benjamin
        mail: bendejairdin8@gmail.com
        tél: 07.86.12.32.75</p>
</div>