.commandes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 50em;
}

.boxe {
    width: 30%;
}

.detail {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 10em;
}

.numCommande{
    text-align: center;
    font-size: 100px;
}

.bouton{
    text-align: center;
    display: flex;
    justify-content: center;
}

td, th{
    color:azure;
}

table{
    width: 30em;
}